#boton_1 {

    border-color: gray;
    color: #04BF55;
    font-weight: bold;

}

.logo-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100px;
    opacity: 0.4;
    z-index: 0;
    pointer-events: none;
    text-align: left;
}

.logo-container img {
    width: 100%;
    height: auto;
}
