body {

    background-color: #d9d9d9;

}

.fondo {

    background-color: #ffffff;
    border-width: medium;
    border-color: black;
    border-style: solid;
    margin: 30px;

}

.volver {

    text-align: center;
    display: flex;
    font-weight: bold;
    text-decoration: none;
    color: black;
    background-color: #4dd286;
    padding: 10px;
    width: 9%;

}


.cargar {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    background-color: #75d59f;
    border: thin solid black;

}

.opciones {

    background-color: #d9d9d9;
    border: thin solid black;
    margin: 30px;
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}