body {

    background-color: #d9d9d9 !important;

}

.volver { /*Estilo para el boton volver*/

    text-align: center;
    display: flex;
    font-weight: bold;
    text-decoration: none;
    color: black;
    background-color: #4b9f4a;
    padding: 10px;
    width: 15%;
    max-width: 120px;
    min-width: 100px;
    transition: all 0.4s ease-in-out;

}

.volver:hover { /*Animacion para el boton volver*/

    background-color: #77dda3;

}

.caja { /*Estilo para la caja de la informacion*/

    background-color: white;

}

table { /*Estilo para el tamaño de la tabla y la alineacion*/

  table-layout: fixed;
  width: 100% !important;
  border: 1px solid black;

}

td { /*Para que quede la animacion suave*/

  transition: all 0.4s ease-in-out;
  border: 1px solid black;
  vertical-align: middle;
  padding: 1rem !important;

}

.campo { /*Estilo para la informacion de la tabla*/

  border: 1px solid black !important;
  background-color: white !important;
  transition: all 0.4s ease-in-out;

}

.btn-actualizar { /*Estilo para el boton de actualizar*/

    text-align: center;
    display: flex;
    background-color: #4b9f4a;
    border: 0;
    font-weight: bold;
    color: black;
    padding: 10px 20px;
    transition: all 0.4s ease-in-out;

}

.btn-actualizar:hover { /*Animacion para el boton actualizar*/

    background-color: #77dda3;
    
}

